<!DOCTYPE html>
<html>
<head>
    <title>css demo</title>
    <style type="text/css">
        h1 {
            color: maroon;
            font-size: 24px;
        }

        h2 {
            color: silver;
            font-size: 18px;
        }

        h3 {
            color: rgb(60%, 10%, 10%);
        }

        p {
            font-size: 12px;
        }

        h1, h2, p {
            margin-left: 1em;
        }
    </style>
</head>
<body>
    <h1>Greetings!</h1>
    <h2>Salutations!</h2>
    <h3>Howdy-do!</h3>
</body>
</html>